<!DOCTYPE html>
<html lang="en-us">

<head>
<meta charset="utf-8">
<title>Example</title>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
<script src="./dist/ng-syncano.js"></script>

<script> 
var myApp = angular.module('myApp', ['ngSyncano']); // IMPORTANT: syncano library should be registered in Angular DI

// OR
myApp.config(function (syncanoConfigProvider) {
	syncanoConfigProvider.configure({
		apiKey: 'MY_PUBLIC_API_KEY',
		instance: 'MY_INSTANCE'
	});
});
// NOTICE: please be aware that only first configuration would be applied

myApp.controller('SyncanoController', function ($scope, syncanoService) {
	var syncano = null;
	$scope.dataRetrievedFromSyncano = null;
	$scope.error = null;

	syncanoService.getSyncano()
		.then(function(res){
			syncano = res;
			var user = {
				"username": "USERNAME",
				"password": "PASSWORD"
			};
			syncanoService.setSyncanoUser(user)
				.then(function(res){
					syncano = res;
					getList();
				})
				.catch(function(err){
					console.log(err);
				});
		})
		.catch(function(err){
			console.log(err);
		});

	function getList(){
		syncano.class('CLASS').dataobject().list()
			.then(function(res){
				$scope.dataRetrievedFromSyncano = res.objects;
			})
			.catch(function(err){
				$scope.error = err;
			});
	}
});
</script>
</head>

<body ng-app="myApp">
	<div ng-controller="SyncanoController">
		<div ng-if="error !== null" class="error">{{error.message}}</div>
		<div ng-if="dataRetrievedFromSyncano !== null" class="data">{{dataRetrievedFromSyncano | json}}</div>
	</div>
</body>
</html>
